@model  IEnumerable<EntityLayer.Concreate.Category>
@{
    Layout = null;
}


<h3>Merhaba</h3>

<br/>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>


    </tr>
    <tr>

        <td></td>
        <td>Murat</td>
        <td>Denemeler</td>
        <td>True</td>
    </tr>


</table>


<button class="btn btn-info">YeniKategori</button>
