@model  IEnumerable<EntityLayer.Concreate.Category>
@{
    Layout = null;
}


<h3>Merhaba</h3>

<br/>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>


    </tr>
    <tr>

        <td>1</td>
        <td>Murat</td>
        <td>Denemeler</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>

        <td>2</td>
        <td>Murat</td>
        <td>Denemeler</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>

        <td>3</td>
        <td>Murat</td>
        <td>Denemeler</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>

</table>


<button class="btn btn-info">YeniKategori</button>
<button class="btn btn-warning">KategoriListesi</button>
<button class="btn btn-danger">Kategori Açıklammları</button>
